<link rel="stylesheet" type="text/css" href="/static/login_style.css">
<div class="grandParentContaniner">
<div class="parentContainer">
<form>
  <h1>Welcome to Scry</h1>
  <div class="inset">
  <p>
    <label for="email">EMAIL ADDRESS</label>
    <input type="text" name="email" id="email">
  </p>
  <p>
    <label for="password">PASSWORD</label>
    <input type="password" name="password" id="password">
  </p>
      <p>
          <div class = "forgot">
        <a href="reset_password" style="color:#0d93ff">Forgot Password?</a>
        </div>

      </p>
      <p>
        <input type="submit" name="go" id="go" value="LOGIN">
      </p>
      <p class = signUp>
          Dont have an account? <a href="sign_up" style="color:#0d93ff">SIGN UP</a>
      </p>
  </div>
</form>
</div>
</div>